@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
body{
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
  }
  .weather-header{
    text-align: center;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 1000;
    color: #000018eb;
  }
  .weather-header h1 img{
    width: 70px;
    position: relative;
    top: 20px;
  }
  .weather-card {
    background: #000018eb;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 327px;
    margin: auto 17px;

  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Github https://github.com/ZiyaAkhundov */
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  .weather{
    width: 90%;
    margin: auto;
  }
  button:hover {
    background: #5e5c5c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .weather-icon-description {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }